name: Test

on:
  pull_request:
    paths-ignore:
      - '**.md'    
  push:    
    branches:
      - master
    paths-ignore:
      - '**.md'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node_version: [14.x, 16.x]
        protoc_version: [3.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node_version}}
      - uses: arduino/setup-protoc@v1
        with: 
          version: ${{matrix.protoc_version}}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: copy .github/workflows/ci.windows.bazelrc user.bazelrc
        if: ${{ matrix.os == 'windows-latest' }}
      - run: yarn --frozen-lockfile
      - run: yarn test --test_tag_filters=-no-${{ matrix.os }}
      #- run: cd examples/pure && yarn --frozen-lockfile && yarn test